{% extends 'main/base.html' %}

{% block title %}Login{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="form-container">
  <h2><i class="fas fa-sign-in-alt"></i> Login</h2>
  <form method="post" class="login-form">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="signup-link">
      <p>Don't have an account? Create one <a href="{% url 'sign_up' %}">Here</a>!</p>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{% endblock %}